<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title %} Bosh sahifa {% endblock title %}</title>
</head>
<body>
<main>
    {% block content %}

    {% endblock content %}
</main>

</body>
</html>