{% extends 'base.html'%}

{% block title %} Bosh sahifa {% endblock title %}


{% block content %}

<!--agar user ruyhatdan utgan bulsa-->
{% if user.is_authenticated %}

{{ user.username }}, hush kelibsiz!!!
<h2><a href="{% url 'logout'%}">Log Out</a></h2>
{% else %}
<p>Siz hali saytga kirmagansiz</p>
<a href="{% url 'login' %}">Login</a><br><br>
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock content %}