{% extends 'base.html'%}

{% block title %} Ruyxatdan utish {% endblock title %}

{% block content %}
<h2> Ruyxatdan utish </h2>
<form method="post">
{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">
    Royxatdan otish
    </button>
</form>
{% endblock content %}